*{
    margin: 0px;
    border: 0px;
    box-sizing: border-box;
}
img{
    display: block;
    width: 100%;
}


header{
    display: flex;
    padding-block: 1rem;
    padding-inline: 0.75rem;
    justify-content: space-between;
}

